@model List<BattleshipMVC.Models.Player>
@{
    ViewBag.Title = "Game";
    string color = "dimgray";
}

<div id="popup" class="popup">
    <h3></h3>
    <button onclick='window.location = "@Url.Action("Index", "Game")";'
            class="button"
            style="background-color: var(--gray)">
        Jeszcze raz?
    </button>
</div>

<div id="board-container">
    <div>
        <h2 style="color: white">@Model[0].Name</h2>
        <table style="margin-right: 20px;">
            @for (int row = 0; row < 10; row++)
            {
                <tr>
                    @for (int column = 0; column < 10; column++)
                    {
                        <th>
                            @switch (Model[0].Board.PanelAt(row, column).State)
                            {
                                case BattleshipMVC.Models.FieldState.Hit:
                                    color = "var(--violet2)";
                                    break;
                                case BattleshipMVC.Models.FieldState.Miss:
                                    color = "var(--gray)";
                                    break;
                                case BattleshipMVC.Models.FieldState.Empty:
                                    color = "white";
                                    break;
                                default:
                                    color = "var(--violet1)";
                                    break;
                            }
                            <button style="background-color: @color" class="tile"></button>
                        </th>
                    }
                </tr>
            }
        </table>
    </div>

    <div>
        <h2 style="color: white">@Model[1].Name</h2>
        <table>
            @for (int row = 0; row < 10; row++)
            {
                <tr>
                    @for (int column = 0; column < 10; column++)
                    {
                        <th>
                            @switch (Model[1].Board.PanelAt(row, column).State)
                            {
                                case BattleshipMVC.Models.FieldState.Hit:
                                    color = "var(--violet2)";
                                    break;
                                case BattleshipMVC.Models.FieldState.Miss:
                                    color = "var(--gray)";
                                    break;
                                default:
                                    color = "white";
                                    break;
                            }
                            <button onclick="Fire(@row, @column)" style="background-color: @color" class="tile"></button>
                        </th>
                    }
                </tr>
            }
        </table>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        function Fire(row, column){
            $.ajax({
                type: "POST",
                url: '@Url.Action("Fire", "Game")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    row: row,
                    column: column
                }),
                success: function (response) {
                    if (response.winner != null) {
                        var popup = document.getElementById("popup");
                        //<h3> element
                        popup.childNodes[0].textContent = "Wygrał " + response.winner;
                        popup.style.visibility = "visible";
                    }
                    else {
                        location.reload();
                    }
                }
            })
        }

    </script>
}